.feedback {
    margin-bottom: 112px;
    @media (max-width: 767px) {
        margin-bottom: 60px;
    }
}

.feedback__title {
    margin-bottom: 50px;
    @media (max-width: 1365px) {
        margin-bottom: 145px;
    }
    @media (max-width: 767px) {
        font-size: 28px;
    }
}

.feedback__block {
    position: relative;
    transform: translateX(220px);
    margin: 0 auto;
    background-color: $dark-gray;
    width: 640px;
    padding: 108px 87px 100px 145px;
    @media (max-width: 1365px) {
        width: 578px;
        padding: 150px 80px 43px;
        text-align: center;
        transform: translateX(0);
    }
    @media (max-width: 767px) {
        width: 90%;
        padding: 115px 7% 43px;
    }
}

.feedback__down {
    display: flex;
    align-items: center;
    @media (max-width: 1365px) {
        justify-content: center;
    }
}

.feedback__date {
    margin-right: 36px;
    color: $light-gold;
    @media (max-width: 767px) {
        font-size: 12px;
        margin-right: 24px;
    }
}

.feedback__name {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 500;
    @media (max-width: 767px) {
        font-size: 18px;
    }
}

.feedback__social {
    margin: 0;
}

.feedback__social-item:not(:first-child) {
    margin-left: 10px;
}

.feedback__item-decorated {
    margin-right: 10px;
    padding: 7px;
    border: 0.5px solid $light-gold;
    &:hover {
        opacity: 0.5;
    }
}

.feedback__social svg {
    fill: $light-gold;
}

.feedback__descr {
    margin-bottom: 45px;
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;
    opacity: 0.72;
    width: 404px;
    @media (max-width: 1365px) {
        width: 400px;
    }
    @media (max-width: 767px) {
        width: 228px;
        margin: 25px auto 45px auto;
    }
}

.feedback__photo-wrapper {
    position: absolute;
    overflow: hidden;
    width: 481px;
    height: 331px;
    left: -380px;
    top: 45px;
    @media (max-width: 1365px) {
        left: 50%;
        top: -95px;
        transform: translateX(-50%);
        width: 302px;
    }
    @media (max-width: 767px) {
        top: -83px;
        width: 242px;
    }
}

.feedback__photo-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.feedback__block-content {
    display: none;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 0;
}

.feedback__block-content--active {
    display: block;
    opacity: 1;
    -webkit-animation-name: fade;
    animation-name: fade;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.feedback__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @media (max-width: 1365px) {
        top: 40px;
        width: 59px;
        height: 16px;
        transform: translateY(0);
    }
    @media (max-width: 767px) {
        top: -7px;
    }
}

.feedback__button--left {
    left: -455px;
    @media (max-width: 1365px) {
        left: 50px;
        background-image: url(../img/icons/recall-left.svg);
    }
    @media (max-width: 767px) {
        left: calc(50% - 145px);
    }
}

.feedback__button--right {
    right: -70px;
    @media (max-width: 1365px) {
        right: 50px;
        background-image: url(../img/icons/recall-right.svg);
    }
    @media (max-width: 767px) {
        left: calc(50% + 92px);
    }
}

.feedback__photo {
    max-width: 481px;
    @media (max-width: 1365px) {
        max-width: 302px;
    }
    @media (max-width: 767px) {
        max-width: 242px;
    }
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}