.features {
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 105px;
    @media (max-width: 1365px) {
        max-width: 710px;
        margin-bottom: 95px;
    }
    @media (max-width: 767px) {
        max-width: 290px;
        margin-bottom: 55px;
    }
}

.features__title {
    margin-top: 90px;
    margin-bottom: 23px;
}

.features__descr {
    max-width: 740px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    @media (max-width: 1365px) {
        width: 90%;
        margin-bottom: 40px;
    }
    @media (max-width: 767px) {
        width: 271px;
        margin-bottom: 20px;
    }
}

.features__img {
    display: block;
    margin: 0 auto;
    @media (max-width: 1365px) {
        width: 418px;
    }
    @media (max-width: 767px) {
        width: 280px;
        margin-bottom: 35px;
    }
}

.features__cat {
    position: relative;
}

.features__text {
    position: absolute;
    color: $white;
    font-weight: 300;
    @media (max-width: 767px) {
        position: relative;
        padding-left: 6px;
        font-size: 14px;
        line-height: 20px;
    }
}

.features__text::before {
    position: absolute;
    width: 15px;
    height: 15px;
    content: "";
    background-color: $light-gold;
    border-radius: 50%;
    @media (max-width: 1365px) {
        width: 10px;
        height: 10px;
    }
    @media (max-width: 767px) {
        width: 8px;
        height: 8px;
        top: 2px;
        left: -4px;
    }
}

.features__text:nth-of-type(1) {
    top: 184px;
    left: 6px;
    max-width: 210px;
    @media (max-width: 1365px) {
        top: 120px;
        left: -38px;
        max-width: 170px;
    }
    @media (max-width: 767px) {
        top: 0px;
        left: 0px;
        max-width: 250px;
        width: 250px;
    }
}

.features__text:nth-of-type(2) {
    max-width: 210px;
    top: 470px;
    left: -20px;
    @media (max-width: 1365px) {
        max-width: 140px;
        top: 317px;
        left: -24px;
    }
    @media (max-width: 767px) {
        max-width: 180px;
        top: 0px;
        left: 0px;
    }
}

.features__text:nth-of-type(1),
.features__text:nth-of-type(2) {
    text-align: right;
    @media (max-width: 767px) {
        text-align: left;
        top: 0px;
        left: -2px;
    }
}

.features__text:nth-of-type(1)::before,
.features__text:nth-of-type(2)::before {
    top: 7px;
    right: -34px;
    @media (max-width: 1365px) {
        top: 5px;
        right: -26px;
    }
    @media (max-width: 767px) {
        top: 5px;
        left: -10px;
    }
}

.features__text:nth-of-type(3) {
    max-width: 200px;
    top: 292px;
    right: -20px;
    @media (max-width: 1365px) {
        max-width: 135px;
        top: 198px;
        right: -30px;
    }
    @media (max-width: 767px) {
        max-width: 180px;
        top: 0px;
        left: -2px;
    }
}

.features__text:nth-of-type(4) {
    max-width: 165px;
    top: 512px;
    right: 46px;
    @media (max-width: 1365px) {
        max-width: 110px;
        top: 342px;
        right: 14px;
    }
    @media (max-width: 767px) {
        top: 0px;
        left: -2px;
        max-width: 275px;
    }
}

.features__text:nth-of-type(3)::before {
    top: 0;
    left: -31px;
    @media (max-width: 1365px) {
        top: 3px;
        left: -24px;
    }
    @media (max-width: 767px) {
        top: 5px;
        left: -10px;
    }
}

.features__text:nth-of-type(4)::before {
    top: 0;
    left: -31px;
    @media (max-width: 1365px) {
        top: 3px;
        left: -30px;
    }
    @media (max-width: 767px) {
        top: 5px;
        left: -10px;
    }
}

@media (max-width: 767px) {
    .features__text:not(:first-child) {
        margin-top: 25px;
    }
}