.modal {
    width: 680px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $dark-gold;
    background-color: $white;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 30;
    @media (max-width: 1365px) {
        width: 284px;
    }
}

.modal-write {
    display: none;
}

.modal-show {
    display: block;
    animation: bounce 0.6s;
}

.modal-close {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 16px;
    height: 16px;
    font-size: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    @media (max-width: 1365px) {
        position: absolute;
        top: 20px;
        right: 20px;
    }
}

.modal-close::before,
.modal-close::after {
    content: "";
    position: absolute;
    top: 8px;
    left: -3px;
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background-color: $light-gold;
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

.modal__container {
    display: flex;
    flex-direction: column;
}

.modal__title {
    width: 234px;
    margin: 34px auto 38px 40px;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 32px;
    color: $dark-gold;
    @media (max-width: 1365px) {
        font-size: 18px;
        line-height: 25px;
        width: 175px;
        margin: 20px auto 18px 20px;
    }
}

.modal__subtitle {
    margin: 0 auto 36px 40px;
    @media (max-width: 1365px) {
        margin: 0 auto 18px 20px;
        width: 217px;
        font-size: 16px;
        line-height: 21px;
    }
}

.modal__form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.modal__user-data {
    display: flex;
    justify-content: space-around;
    margin: 0 40px;
    @media (max-width: 1365px) {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 20px;
        width: 284px;
    }
}

.modal__write-us label {
    display: inline-block;
    margin-bottom: 9px;
    font-size: 18px;
    line-height: 18px;
    vertical-align: middle;
    color: $light-gold;
    @media (max-width: 1365px) {
        margin-bottom: 9px;
        font-size: 14px;
        line-height: 18px;
    }
}

.modal__write-us input[type="text"],
.modal__write-us input[type="tel"] {
    box-sizing: border-box;
    width: 280px;
    padding: 18px 24px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: $light-gray;
    border: 2px solid $modal-white;
    border-radius: 5px;
    @media (max-width: 1365px) {
        width: 244px;
        padding: 16px 20px;
        font-size: 14px;
        line-height: 20px;
    }
}

.modal__write-us input:focus {
    border-radius: 5px;
    border: 2px solid $dark-gold;
}

.modal__personal {
    text-decoration: underline;
    color: $dark-gold;
}

.modal__user-personal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px 40px 40px;
    @media (max-width: 1365px) {
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        margin: 15px 40px 20px 40px;
    }
}

.modal__user-consent {
    font-size: 12px;
    line-height: 16px;
    width: 279px;
    @media (max-width: 1365px) {
        margin-top: 15px;
        font-size: 10px;
        line-height: 15px;
        width: 224px;
    }
}

.modal__control {
    padding: 0;
    text-align: center;
}

.modal__control-button {
    margin: 0;
    width: 260px;
    font-size: 14px;
    line-height: 18px;
    color: $white;
    background-color: $light-gold;
}

.modal__control-button:hover {
    opacity: 0.8;
}

@media (max-width:1365px) {
    .modal__user-name {
        margin: 8px auto 16px auto;
    }
}