/* ----  MEDIA  ---- */

$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1365px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/* ----  COLORS  ---- */

$light-gray: #1F1C1D;
$dark-gray: #181617;
$light-gold: #A07B50;
$dark-gold:#674C33;
$white: #FFFFFF;
$modal-white:#d2d8d8;