.footer {
    background-color: $dark-gray;
}

.footer__wrapper {
    width: 850px;
    padding: 70px 0;
    display: flex;
    margin: 0 auto;
    align-items: center;
    @media (max-width: 1365px) {
        width: 770px;
        padding: 39px 20px;
    }
    @media (max-width: 767px) {
        flex-direction: column;
        justify-content: center;
        padding: 40px 20px 20px 20px;
        width: 320px;
    }
}

.footer__contacts {
    width: 670px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1365px) {
        margin: 0 auto;
        width: 670px;
    }
    @media (max-width: 767px) {
        flex-direction: column;
        max-width: 280px;
    }
}

.footer__social {
    text-align: center;
    @media (max-width: 767px) {
        order: 3;
    }
}

.footer__social-item:not(:first-child) {
    margin-left: 10px;
}

.footer__social svg {
    fill: $light-gold;
    &:hover {
        fill: $white;
    }
}

.footer__address {
    margin-left: 20px;
    color: $white;
    font-size: 14px;
    @media (max-width: 1365px) {
        width: 264px;
    }
    @media (max-width: 767px) {
        margin: 0 auto;
        order: 1;
        margin-bottom: 15px;
    }
}

.footer__address-link {
    color: $white;
}

.footer__address-link:hover,
.footer__address-link:focus {
    opacity: 0.5;
    outline: none;
}

.footer__address-link:active {
    opacity: 0.2;
}

.footer__tel-link {
    color: $white;
    font-size: 14px;
    font-weight: 700;
    transition: 0.3s;
    @media (max-width: 767px) {
        font-weight: 400;
    }
}

.footer__tel-link:hover,
.footer__tel-link:focus {
    opacity: 0.5;
    outline: none;
}

.footer__tel-link:active {
    opacity: 0.2;
}

.footer__logo {
    margin-right: 120px;
    align-self: flex-start;
    @media (max-width: 1365px) {
        display: none;
    }
    @media (max-width: 767px) {
        display: block;
        margin: 0 auto;
        order: 1;
    }
}

.footer__logo-svg {
    fill: $light-gold;
    &:hover {
        fill: $white;
    }
}

@media (max-width: 767px) {
    .footer__tel {
        order: 2;
        margin-bottom: 20px;
    }
}