.footer {
    background-color: $dark-gray;
}

.footer__wrapper {
    width: 850px;
    padding: 70px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer__contacts {
    width: 670px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer__social {
    text-align: center;
}

.footer__social svg {
    fill: $light-gold;
    &:hover {
        fill: $white;
    }
}

.footer__address {
    width: 350px;
    margin-left: 20px;
    color: $white;
    font-size: 14px;
}

.footer__tel a {
    color: $white;
    font-size: 14px;
    font-weight: 700;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.footer__tel a:hover,
.footer__tel a:focus {
    opacity: 0.5;
    outline: none;
}

.footer__tel a:active {
    opacity: 0.2;
}

.footer__logo {
    margin-right: 120px;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.footer__logo-svg {
    fill: $light-gold;
    &:hover {
        fill: $white;
    }
}