.care {
    width: 100%;
    background: $dark-gray url(../img/bgCat@1x.jpg) no-repeat 50% 50%;
    background-size: cover;
    padding: 70px 0px 100px;
    @media (max-width: 1365px) {
        padding: 80px 0px 90px;
    }
    @media (max-width: 767px) {
        padding: 50px 0px 30px;
    }
}

@media (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) and (min-resolution: 1.5dppx) {
    .care {
        background-image: url(../img/bgCat@2x.jpg);
    }
}

.care__title {
    margin-bottom: 50px;
    @media (max-width: 1365px) {
        margin-bottom: 35px;
    }
    @media (max-width: 767px) {
        margin-bottom: 35px;
        font-size: 28px;
    }
}

.care__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1150px;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    @media (max-width: 1365px) {
        max-width: 560px;
    }
    @media (max-width: 767px) {
        margin: 0 auto;
        max-width: 290px;
    }
}

.care__item {
    position: relative;
    max-width: 560px;
    padding: 30px 100px 15px 60px;
    border: 0.5px solid $light-gold;
    margin-bottom: 40px;
    cursor: pointer;
    &:hover {
        background-color: $dark-gray;
    }
    @media (max-width: 1365px) {
        background: rgba(0, 0, 0, 0.3);
    }
    @media (max-width: 767px) {
        margin-bottom: 30px;
        padding: 20px 60px 20px 20px;
    }
}

.care__item-link {
    display: block;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.care__subtitle {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 700;
    color: $light-gold;
    @media (max-width: 767px) {
        margin-bottom: 15px;
        font-size: 18px;
    }
}

.care__descr {
    font-size: 14px;
    line-height: 24px;
    color: $white;
    font-weight: 300;
    @media (max-width: 767px) {
        line-height: 20px;
        width: 211px;
    }
}

.care__button {
    position: absolute;
    content: "";
    width: 60px;
    height: 100%;
    top: 0;
    right: 0;
    background: $light-gold url(../img/icons/arrow.svg) no-repeat 50% 50%;
    @media (max-width: 767px) {
        width: 45px;
    }
}

.care__item:hover .care__button,
.care__item:focus .care__button {
    background: $dark-gray url(../img/icons/arrow.svg) no-repeat 50% 50%;
    border-left: 0.5px solid $light-gold;
    outline: none;
}

.care__item:active .care__button {
    background: $dark-gray url(../img/icons/arrow.svg) no-repeat 50% 50%;
    border-left: 0.5px solid $light-gold;
}