.overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $dark-gold;
    transition: 0.3s all;
    opacity: 0;
    z-index: 20;
}

.overlay.active {
    opacity: 0.5;
    visibility: visible;
}