.team {
    padding: 80px 0px 70px;
    background-color: $dark-gray;
    @media (max-width: 1365px) {
        padding: 80px 0px 195px;
    }
    @media (max-width: 767px) {
        padding: 60px 0px 60px;
    }
}

.team__title {
    margin-bottom: 20px;
    @media (max-width: 767px) {
        margin-bottom: 30px;
        font-size: 28px;
    }
}

.team__subtitle {
    text-align: center;
    max-width: 510px;
    margin: 0 auto;
    margin-bottom: 25px;
    @media (max-width: 767px) {
        width: 252px;
        margin: 25px auto;
        margin-bottom: 100px;
        font-size: 14px;
        line-height: 20px;
    }
}

.team__block {
    position: relative;
    width: 660px;
    margin: 0 auto;
    padding: 70px 100px;
    left: 155px;
    background-color: $light-gray;
    border: 24px solid $dark-gray;
    outline: 0.5px solid $dark-gold;
    @media (max-width: 1365px) {
        width: 600px;
        left: 0;
    }
    @media (max-width: 767px) {
        text-align: center;
        width: 290px;
        border: 0px solid $dark-gray;
        outline: 0px solid $dark-gold;
        padding: 85px 10px 15px;
        left: 0;
    }
}

.team__block-content {
    display: none;
    transition: opacity 0.3s;
    opacity: 0;
}

.team__block-content--active {
    display: block;
    opacity: 1;
    animation-name: fade;
    animation-duration: 0.3s;
    animation-timing-function: linear;
}

.team__name {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 500;
    color: $light-gold;
    @media (max-width: 767px) {
        margin-bottom: 8px;
        font-size: 18px;
    }
}

.team__descr {
    color: $white;
    margin-bottom: 45px;
    font-weight: 300;
    line-height: 25px;
    @media (max-width: 767px) {
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 20px;
        width: 268px;
    }
}

.team__photo-wrapper {
    position: absolute;
    overflow: hidden;
    width: 360px;
    height: 356px;
    left: -332px;
    top: -26px;
    @media (max-width: 1365px) {
        width: 208px;
        height: 205px;
        left: 320px;
        top: 275px;
    }
    @media (max-width: 767px) {
        width: 126px;
        height: 125px;
        top: -63px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.team__photo-inner {
    display: flex;
    transform: translateX(0);
    transition: 0.3s;
}

.team__social-item:not(:first-child) {
    margin-left: 10px;
}

.team_social-link:focus {
    opacity: 0.5;
}

.team__social svg {
    fill: $white;
    &:hover {
        fill: $light-gold;
    }
    &:focus {
        fill: $light-gold;
    }
}

.team__post {
    color: $light-gold;
    margin-bottom: 25px;
    @media (max-width: 767px) {
        margin-bottom: 20px;
        font-size: 14px;
    }
}

.team__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @media (max-width: 1365px) {
        position: absolute;
        top: 470px;
    }
    @media (max-width: 767px) {
        top: -12px;
        transform: translateX(-50%);
    }
}

.team__button--left {
    left: -400px;
    @media (max-width: 1365px) {
        left: 290px;
    }
    @media (max-width: 767px) {
        left: calc(50% - 90px);
    }
}

.team__button--right {
    right: -100px;
    @media (max-width: 1365px) {
        right: -10px;
    }
    @media (max-width: 767px) {
        left: calc(113% - 90px);
    }
}

.team__photo {
    max-width: 360px;
    @media (max-width: 1365px) {
        max-width: 208px;
    }
    @media (max-width: 767px) {
        max-width: 126px;
        height: 125px;
    }
}

@media (max-width: 767px) {
    .team__photo {
        max-width: 126px;
        height: 125px;
    }
    .team__social {
        justify-content: center;
    }
}