.about {
    background-color: $dark-gray;
    text-align: center;
    padding: 80px 40px 65px;
}

.about__title {
    margin-bottom: 23px;
}

.about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1150px;
    list-style: none;
    padding: 0;
}

.about__item {
    background-color: $light-gray;
    margin-bottom: 34px;
    width: 360px;
    min-height: 300px;
    padding: 17px 20px;
}

.about__item svg {
    fill: $light-gold;
    stroke: $light-gray;
}

.about__item:hover svg {
    fill: $white;
    stroke: $light-gold;
}

.about__item:hover .about__block {
    background-color: $light-gold;
}

.about__item:not(:last-child) {
    margin-right: 34px;
}

.about__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    padding: 47px 35px 20px;
    min-height: 265px;
}

.about__text {
    color: $white;
    font-weight: 300;
}

.about__subtitle {
    color: $light-gold;
    margin-bottom: 47px;
}

.about__icon {
    margin-bottom: 35px;
}