.pets {
    position: relative;
    max-width: 1100px;
    margin: 220px auto 80px auto;
    text-align: center;
    @media (max-width: 1365px) {
        max-width: 720px;
        margin: 108px auto 80px auto;
    }
    @media (max-width:767px) {
        margin: 60px auto 60px auto;
    }
}

.pets__title {
    margin-bottom: 23px;
    @media (max-width: 767px) {
        font-size: 28px;
    }
}

.pets__descr {
    max-width: 520px;
    margin: 0 auto;
    margin-bottom: 40px;
    color: $light-gold;
    @media (max-width: 767px) {
        font-size: 14px;
        line-height: 20px;
    }
}

.pets__list {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 40px;
    list-style: none;
}

.pets__item:not(:first-child) {
    margin-left: 40px;
}

.pets__items-btn {
    color: $white;
    font-family: inherit;
    font-size: 18px;
    font-weight: 500;
    background-color: transparent;
    border: none;
    outline: none;
    opacity: 0.2;
    cursor: pointer;
    transition: 0.3s;
    @media (max-width: 767px) {
        font-size: 16px;
    }
}

.pets__items-btn:hover,
.pets__items-btn:focus {
    opacity: 1;
}

.pets__items-btn:active {
    opacity: 0.5;
    transition: 0s;
}

.pets__item.active button {
    opacity: 1;
}

.pets__button {
    margin: 0 auto;
}

.pets__photo--inner {
    display: grid;
    grid-template-columns: 517px 471px;
    grid-template-rows: 214px 241px;
    grid-row-gap: 30px;
    grid-column-gap: 35px;
    margin-bottom: 55px;
    @media (max-width: 1365px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: calc(485px/2);
        width: 100%;
    }
    @media (max-width:767px) {
        transition: .3s;
        padding: calc(485px/2/2);
    }
}

.pets__photo--inner:nth-child(2) {
    grid-row-start: 1;
    grid-row-end: 3;
}

.pets__arrow {
    display: none;
    @media (max-width: 1365px) {
        position: absolute;
        display: block;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media (max-width:1365px) {
    .pets__slider {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        margin-bottom: 56px;
    }
    .pets__photo--wrapper {
        position: relative;
        width: 603px;
        margin: 0 30px;
    }
    .pets__photo {
        position: absolute;
        transition: all .3s;
    }
    .pets__photo--left,
    .pets__photo--right {
        transform: scale(0.7);
        z-index: 0;
    }
    .pets__photo--left {
        transform-origin: 0 center;
        left: 0;
    }
    .pets__photo--right {
        transform-origin: 100% center;
        right: 0;
    }
    .pets__photo--center {
        z-index: 1;
    }
    .pets__arrow--left {
        left: 0px;
    }
    .pets__arrow--right {
        right: 0px;
    }
}

@media (max-width:767px) {
    .pets__photo--wrapper {
        margin: 0 20px;
        overflow: hidden;
        width: 246px;
    }
    .pets__slider {
        margin-bottom: 0;
    }
}