.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 19px 0;
    font-size: 14px;
    font-weight: 700;
    color: $white;
    background-color: transparent;
    border: 0.5px solid $light-gold;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
    &:hover,
    &:focus {
        background-color: $light-gold;
    }
    &:active {
        opacity: 0.9;
    }
}

@media (max-width: 767px) {
    .button {
        width: 140px;
        padding: 14px 0;
        font-size: 12px;
        line-height: 20px;
    }
}

.button__arrow {
    width: 12px;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.3s;
    opacity: 0.5;
}

.button__arrow:hover,
.button__arrow:focus {
    opacity: 1;
    outline: none;
}

.button__arrow:active {
    opacity: 0.7;
}

.button__arrow--left {
    background-image: url(../img/icons/sliderLeft.svg);
}

.button__arrow--right {
    background-image: url(../img/icons/sliderRight.svg);
}

@media (max-width: 767px) {
    .button__arrow {
        width: 8px;
        height: 18px;
        opacity: 1;
    }
    .button__arrow:hover,
    .button__arrow:focus {
        opacity: 0.7;
        outline: none;
    }
    .button__arrow:active {
        opacity: 1;
    }
}