.title {
    font-family: "YesevaOne", "Arial", cursive;
    color: $white;
    font-size: 36px;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;
}

.describe {
    color: $light-gold;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
}